#container {
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 35%;
    margin-right: 35%;
    width: 450px;
}

body {
    background-color: black;
}

#post {
    background-color: white;
}

#header {
    display: flex;

}

#htmlLogo {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 200%;
}

p {
    margin: 0;
}

#actualHeader {
    margin-top: 10px;
}

#threeDots {
    margin-top: 10px;
    margin-left: 300px;
    font-size: 180%;
}

#icons {
    display: flex;
}

#leftIcons {
    font-size: 150%;
    width: 150px;
    margin-left: 10px;
}

#rightIcon {
    font-size: 150%;
    margin-left: 230px;
}

#pic {
    width: 100%;
    height: auto;
}

#likes {
    margin-left: 10px;
}

#description {
    margin-left: 10px;
}